.developers-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        margin: -15px;
    }
//   display: flex;
}

.developers-list__item {
    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
        
    @media screen and (min-width: 480px) {
        width: 450px;
        margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
        max-width: calc((100% - 15px * 4) / 2);
        margin: 15px auto;
    }
}