.features-list {
    // width: 100%;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-basis: calc((100% - 30px) / 4);

        margin: -15px;
    }

    @media screen and (min-width: 1200px) {
        margin: 0;
    }
}

.features-list__item {
    &:not(:last-child){
        margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 15px * 4) / 2);

        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 30px * 3) / 4);
        margin: 0;

        &:not(:last-child) {
            margin: 0;
            margin-right: 30px;
        }
    }
}



.features-list__icon {
    display: flex;
    justify-content: center;
    // width: 100vw;
    // height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    padding: 25px 0;
    margin-bottom: 30px;
}

.features-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    text-transform: uppercase;
    
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
    
    // font-size: 14px;
    // font-weight: 700;
    // line-height: 1.14;
    // text-align: center;
    // text-transform: uppercase;
    // margin-bottom: 10px;
}

.features-list__text {
    font-size: 14px;
    line-height: calc(24 / 14);

    letter-spacing: 0.03em;
    
    color: #757575;
}
