.footer {
  padding: 60px 0;
  margin: 0 auto;
  background-color: #2f303a;
}

.footer--flex {
  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    text-align: left;
  }
}

.footer__left-column {
  @media screen and (min-width: 768px) {
    width: 232px;
    margin: 0 165px 60px 61px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 231px;
    margin: 0;
    margin-right: 70px;
  }
}